<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Form</title>
    <link rel="stylesheet"  href="/css/finish.css">
</head>
<body>
    <div class="container">
        <form action="/finish" method="post" class="form">
            <h2>🎉 Hooray! You Beat the Game! 🎉</h2>
            
            <label for="name">Name: <input type="text" id="name" name="name" required>
                </label>
            
            <div class="time">
                <label>Time:<span><%= time %></span></label>
                
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
