#image-popup{
    background-color: black;
    color: white;
    width: 90px;
    position: absolute;
    height: 200px;
    z-index: 1;    
}

#t-div{
    position: absolute;
    background-color: black;
    color: white;
    width: 60px;
    height: 60px;    
}

#t-div div{
    border: solid;
    height: 58px;
    border-color: aqua;
    
}

.cross{
    position: absolute;
    border: solid;
    width: 60px;
    height: 60px; 
    border-color: aqua;
}

#image-popup button {
    border: solid;
    height: 61px;
    border-color: aqua;
    
}

.active{
    display: block;
}

.inactive{
    display: none;
}

#container{

}

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
    color: white;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.m-image{
    flex-direction: row;
    display: flex;
    padding: 20px;
    z-index: 5;
}

.img-cont {
    position: relative; /* Ensure the button is a reference point for absolute positioning */
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }
  
  .img {
    display: block; /* Ensures the image does not have extra spacing */
    height: auto;
  }
  
  .cross {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the cross image */
    opacity: 1; /* Make sure it’s initially hidden if necessary */
  }


  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}


.wrong-answer {
    animation: shake 0.3s ease-in-out;
   
}
